<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Add Subject</title>

</head>

<body>

    <h2>Add Subject</h2>


    {% if error %}

        <p style="color:red;">
            {{ error }}
        </p>

    {% endif %}


    <form method="POST">

        <label>
            Subject Name
        </label>

        <br>

        <input
            type="text"
            name="name"
            placeholder="e.g. Mathematics"
            required
        >

        <br><br>

        <button type="submit">
            Add Subject
        </button>

    </form>


    <br>


    <a href="/subjects">
        View Subjects
    </a>

    <br><br>


    <a href="/dashboard">
        Back to Dashboard
    </a>

</body>

</html>