<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Admin Dashboard</title>

</head>

<body>

    <h1>Admin Dashboard</h1>

    <p>
        Welcome {{ user }}
    </p>

    <hr>


    <h3>Academic Period</h3>

    <a href="/academic-period">
        Manage Academic Session & Term
    </a>


    <hr>


    <h3>Students</h3>

    <a href="/create-student">
        Create Student
    </a>

    <br>

    <a href="/students">
        View Students
    </a>


    <hr>


    <h3>Teachers</h3>

    <a href="/create-teacher">
        Create Teacher
    </a>

    <br>

    <a href="/teachers">
        View Teachers
    </a>


    <hr>


    <h3>Subjects</h3>

    <a href="/add-subject">
        Add Subject
    </a>

    <br>

    <a href="/subjects">
        View Subjects
    </a>


    <hr>


    <h3>Marks</h3>

    <a href="/marks-sheet">
        Subject Marks Sheet
    </a>

    <hr>

    <h3>Behavioral Ratings</h3>

    <p>
        Behavioral ratings are entered by teachers.
    </p>

    <hr>


    <h3>Results</h3>

    <a href="/result-sheet">
        View Result Sheet
    </a>


    <hr>


    <a href="/logout">
        Logout
    </a>


</body>

<style>

    body {
        background-color: black;
        color: beige;
    }

</style>

</html>