<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Enter Scores</title>

</head>

<body>

    <h2>Enter Scores</h2>


    <p>
        <strong>Class:</strong>
        {{ assignment.class_name }}
    </p>


    <p>
        <strong>Subject:</strong>
        {{ assignment.subject.name }}
    </p>


    {% if students %}

        <form
            method="POST"
            action="/save-scores"
        >

            <input
                type="hidden"
                name="assignment_id"
                value="{{ assignment.id }}"
            >


            <table
                border="1"
                cellpadding="8"
            >

                <thead>

                    <tr>

                        <th>
                            Student
                        </th>

                        <th>
                            CA 1
                        </th>

                        <th>
                            CA 2
                        </th>
                        <th>
                            CA 3
                        </th>
                        <th>
                            Exam
                        </th>

                    </tr>

                </thead>


                <tbody>

                    {% for student in students %}

                        <tr>

                            <td>
                                {{ student.name }}
                            </td>


                            <td>

                                <input
                                    type="number"
                                    name="ca1_{{ student.id }}"
                                    min="0"
                                    max="10"
                                    value="0"
                                >

                            </td>


                            <td>

                                <input
                                    type="number"
                                    name="ca2_{{ student.id }}"
                                    min="0"
                                    max="20"
                                    value="0"
                                >

                            </td>

                            
                            <td>

                                <input
                                    type="number"
                                    name="ca3_{{ student.id }}"
                                    min="0"
                                    max="20"
                                    value="0"
                                >

                            </td>


                            <td>

                                <input
                                    type="number"
                                    name="exam_{{ student.id }}"
                                    min="0"
                                    max="50"
                                    value="0"
                                >

                            </td>

                        </tr>

                    {% endfor %}

                </tbody>

            </table>


            <br>


            <button type="submit">
                Save Scores
            </button>

        </form>

    {% else %}

        <p>
            There are no students in this class yet.
        </p>

    {% endif %}


    <br>


    <a href="/add-score">
        Back
    </a>

</body>

</html>