<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Student Profile</title>

</head>


<body>

    <h2>Student Profile</h2>


    <p>

        <strong>
            Name:
        </strong>

        {{ student.name }}

    </p>


    <p>

        <strong>
            Class:
        </strong>

        {{ student.class_name }}

    </p>


    <p>

        <strong>
            ID:
        </strong>

        {{ student.id }}

    </p>


    <hr>


    <h3>Scores</h3>


    {% if scores %}


        <table
            border="1"
            cellpadding="8"
        >

            <thead>

                <tr>

                    <th>
                        Academic Period
                    </th>

                    <th>
                        Subject
                    </th>

                    <th>
                        CA 1
                    </th>

                    <th>
                        CA 2
                    </th>

                    <th>
                        CA 3
                    </th>

                    <th>
                        Exam
                    </th>

                    <th>
                        Total
                    </th>

                </tr>

            </thead>


            <tbody>


                {% for score in scores %}


                    <tr>


                        <td>

                            {% if score.academic_period %}

                                {{ score.academic_period.academic_session }}
                                -
                                {{ score.academic_period.term }}

                            {% else %}

                                Unknown

                            {% endif %}

                        </td>


                        <td>

                            {{ score.subject.name
                            if score.subject
                            else "Deleted Subject" }}

                        </td>


                        <td>
                            {{ score.ca1 or 0 }}
                        </td>


                        <td>
                            {{ score.ca2 or 0 }}
                        </td>


                        <td>
                            {{ score.ca3 or 0 }}
                        </td>


                        <td>
                            {{ score.exam or 0 }}
                        </td>


                        <td>

                            {{
                                (score.ca1 or 0)
                                +
                                (score.ca2 or 0)
                                +
                                (score.ca3 or 0)
                                +
                                (score.exam or 0)
                            }}

                        </td>


                    </tr>


                {% endfor %}


            </tbody>

        </table>


    {% else %}

        <p>
            No scores available.
        </p>

    {% endif %}


    <br>


    <a href="/students">
        Back to Students
    </a>


</body>

</html>