<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Teacher Dashboard</title>

</head>

<body>

    <h1>Teacher Dashboard</h1>

    <p>
        Welcome {{ user }}
    </p>


    <hr>


    <a href="/add-score">
        Add Scores
    </a>

    <br>


    <a href="/students">
        View Students
    </a>

    <br>


    <a href="/teachers">
        View Teachers
    </a>

    <br>


    <a href="/logout">
        Logout
    </a>

</body>

</html>